* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: "Poppins", sans-serif;
}
@mixin media-md {
    @media screen and (max-width: 1024px) {
        @content;
    }
}
